html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("https://source.unsplash.com/random/?mountain,dark,night");
  background-size: cover;
  z-index: -2;
}
.gradient-text {
  background: linear-gradient(to right, #ffffff, #cac7c9);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#date {
  font-size: 2em;
  letter-spacing: 0.2em;
  opacity: 0.6;
}
#time-display {
  font-size: 2.9em;
  top: 10px;
  border-bottom: thin solid hsl(17, 11%, 68%);
  padding-bottom: 40px;
  opacity: 0.8;
}

#content {
  height: 45vh;
}
.quote {
  max-height: 5vw;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  line-height: 145%;
  font-size: 2.5vw;
  font-variant: small-caps;
}
#author {
  font-size: 2vw;
}
.container {
  padding-top: 6em;
  text-align: center;
}

#gen {
  color: white;
  background-color: black;
  border: thin solid white;
  transition: 0.5s;
  height: 50px;
  width: 10%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  opacity: 0.4;
  bottom: 2em;
}

#gen:hover {
  background-color: white;
  color: black;
  border: thin solid black;
  opacity: 0.8;
}
@media screen and (max-width: 615px) {
  #gen {
    width: 20%;
    font-size: medium;
  }
  #quote {
    font-size: 24px;
  }
  #author {
    margin-top: 100px;
    font-size: 20px;
  }
  #date {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  #gen {
    position: fixed;
    bottom: 0;
  }
}
